@import './reset.css';
@import './common.css';


/* ν—¤λ” */
.header .group-header{
    width: 1130px;
    height: 160px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
}
.header .logo-area{
    position: relative;
    height: 100%;
}
.header .logo{
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}
.header .logo a{
    width: 222px;
    height: 52px;
    display: block;
    background-position: 0 -158px;
}
.header .search-area{
    position: absolute;
    top: 50%;
    left: 268px;
    margin-top: -28px;
}
.header .search-area .inner{
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
}
.header .search-area .input-text{
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;
}
.header .search-area .btn-submit{
    position: absolute;
    background: #19ce60;
    width: 56px;
    height: 56px;
    top: -2px; right: 0;
}
.header .search-area .btn-submit::after{
    content: '';
    display: inline-block;
    width: 22px; height: 22px;
    vertical-align: top;
    background-position: -420px -24px;
}
.header .service-area{
    display: flex;
    position: absolute;
    top: 12px;
    right: 27px;
}
.header .service-area .bar{
    width: 1px; height: 10px;
    background: #e4e8eb;
    margin: 3px 7px;
}
.header .service-area .link-start{
    font-size: 11px;
    color: #404040;
}
.header .service-area .link-start::after{
    display: inline-block;
    width: 26px;
    height: 26px;
    background-position: -382px -213px;
    vertical-align: top;
    content: '';
    margin: -3px 0 0 3px;
}
.header .service-area .link-junior::after{
    content: '';
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -264px -296px;
    vertical-align: top;
    margin: 3px;
}
.header .service-area .link-bin{
    margin-left: 6px;
}
.header .service-area .link-bin::after{
    content: '';
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -365px -245px;
    vertical-align: top;
    margin: 3px 3px 2px;
}

/* gnb */
.gnb{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-top: 1px solid #e4e8eb;;
}
.gnb .group-nav{
    overflow: hidden;
    padding: 11px 0;
}
.gnb-inner{
    display: flex;
    justify-content: space-between;
    width: 1130px;
    padding: 0 30px;
    margin: 0 auto;
}
.gnb .nav-area{
    display: flex;
    justify-content: space-between;
}
.gnb .nav-area .nav-list{
    display: flex;
    gap: 12px;
}
.gnb .nav-area .nav-list.nm{
    margin-left: 12px;
}
.gnb .nav-area .nav-list.nm .nav-item a{
    color: #000;
}
.gnb .nav-area .nav-item > a{
    font-size: 15px;
    font-weight: bold;
    color: #19ce60;
    display: block;
    line-height: 30px;
}
.gnb .nav-item .ic-mail::before{
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -420px -73px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 9px 0 0;
    content: '';
}
.gnb .nav-item .shop{padding: 5px 0;}
.gnb .nav-item .shop:before{
    width: 24px;
    height: 20px;
    background-position: -76px -386px;
    vertical-align: top;
    content: '';
    display: block;
}
.gnb .nav-item .shop-live{padding: 5px 0;}
.gnb .nav-item .shop-live:before {
    display: inline-block;
    width: 54px;
    height: 20px;
    background-position: -209px -267px;
    vertical-align: top;
    content: '';
    display: block;
}
.gnb .btn-more{
    margin-left: 17px;
    font-size: 13px;
    line-height: 30px;
    text-align: right;
    padding: 0;
}
.gnb .btn-more:after {
    display: inline-block;
    width: 11px;
    height: 7px;
    background-position: -402px -296px;
    vertical-align: top;
    content: '';
    margin-left: 7px;
    vertical-align: 2px;
}
.gnb .group-weather{
    overflow: hidden;
    max-width: 270px;
    padding: 12px 0 11px;
}
.gnb .weather-area{
    display: flex;
    text-align: center;
    line-height: 29px;
}
.gnb .weather-area .ic-weather{
    display: inline-block;
    width: 29px;
    height: 29px;
    background-position: 0 -62px;
    vertical-align: top;
}
.gnb .weather-area .current-box{
    display: flex;
    font-weight: bold;
}
.gnb .current-box .current{font-size: 15px;}
.gnb .weather-area .state{
    margin-left: 5px;
    font-size: 13px;
}
.gnb .weather-area .degree-box{
    margin-left: 9px;
    display: flex;
    font-size: 13px;
}
.gnb .degree-box .min{color: #2586ee;}
.gnb .degree-box .max{color: #e9564a;}
.gnb .degree-box .max:before {
    display: inline-block;
    width: 5px;
    height: 11px;
    background-position: -437px -182px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 0 3px;
    vertical-align: -1px;
}
.location{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-left: 9px;
    font-size: 12px;
    color: grey;
    text-align: right;
}

/* ν‘Έν„° */
.footer{
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}
.footer .footer-inner {
    width: 1130px;
    padding: 0 30px 92px;
    margin: 0 auto;
}

/* footer group-banner */
.footer .group-banner{
    overflow: hidden;
    padding: 24px 0;
    border-bottom: 1px solid #e4e8eb;
}
.footer .group-banner .data-area-wrap{
    display: flex;
}
.footer .public-wrap{
    display: flex;
}
.footer .content-box {
    overflow: hidden;
    width: 350px;
    height: 86px;
    padding: 2px 2px 0 16px;
    font-size: 12px;
    line-height: 1.25;
    box-sizing: border-box;
    text-align: left;
}
.footer .content-box .subtitle {
    display: block;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #58c464;
    white-space: nowrap;
}
.footer .content-box .title {
    display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.26px;
    color: #242424;
    white-space: nowrap;
}
.footer .content-box .desc {
    margin-top: 8px;
}
.footer .content-box .desc, .desc2 {
    overflow: hidden;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #424242;
    white-space: nowrap;
}

/* footer group-notice */
.footer .group-notice{
    padding: 16px 0 15px;
    overflow: hidden;
    border-bottom: 1px solid #e4e8eb;
    display: flex;
    justify-content: space-between;
}
.footer .group-notice .notice-box{
    display: flex;
}
.footer .notice-box .title{
    margin-right: 13px;
    color: #202020;
}
.footer .notice-box .text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 600px;
    color: #777;
}
.footer .group-notice .link-all{
    font-weight: 700;
    color: #202020;
}
.footer .group-notice .link-all::after{
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -408px -110px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 10px;
    vertical-align: -2px;
}

/* footer group-aside */
.footer .group-aside{
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid #e4e8eb;
} 
.footer .group-aside .partner-area{
    width: 780px;
    padding: 20px 0;
} 
.footer .partner-area .partner-box{
    overflow: hidden;
    display: flex;
} 
.footer .partner-area .partner-box+.partner-box {
    margin-top: 9px;
}
.footer .partner-area .partner-box .title{
    width: 87px;
    display: block;
    font-weight: bold;
} 
.footer .partner-area .partner-box .link-partner{
    color: #777;
} 
.footer .partner-area .link-partner+.link-partner:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
}
.footer .group-aside .service-area{
    overflow: hidden;
    width: 350px;
    padding: 28px 0;
    display: flex;
} 
.footer .service-area .service-box{
    display: flex;
    overflow: hidden;
    max-width: 150px;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.footer .service-area .service-box+.service-box {
    margin-left: 50px;
}
.footer .service-area .service-box .logo{
    margin-left: 12px;
} 
.footer .service-area .logo img{
    width: 48px; height: 48px;
}
.footer .service-area .service-box .info{
    overflow: hidden;
}
.footer .service-box .info .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 2px;
} 
.footer .service-box .info .dsc{
    color: grey;
} 

/* footer .group-corp */
.footer .group-corp{
    padding-top: 25px;
    display: flex;
} 
.footer .group-corp .corp-list{
    overflow: hidden;
    margin-right: 13px;
    display: flex;
}
.footer .group-corp .corp-item{
    color: #777;
}
.footer .group-corp .corp-item+.corp-item:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
    background-color: #e4e8eb;
    vertical-align: -1px;
}