/* 메인 */
.container{
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

/* 
    왼쪽 column-left 
*/
.column-left{
    width: 750px;
}
/* .sc-news */
.sc-news{
    margin-top: 12px;
}
.sc-news .group-issue{
    position: relative;
    padding: 12px 15px 11px 15px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.sc-news .group-issue .issue-area{display: flex;}
.sc-news .group-issue .issue-area .link-media{
    font-weight: bold;
}
.sc-news .group-issue .issue-area .link-media::after{
    display: inline-block;
    width: 6px;
    height: 10px;
    background-position: -262px -112px;
    /* vertical-align: top; */
    content: '';
    margin: 0 5px;
}
.sc-news .group-issue .direct-area{
    display: flex;
    font-weight: bold;

}
.sc-news .group-issue .direct-area .link-home{
    color: #3565c9;
}
.sc-news .group-issue .direct-area .link-home::after{
    content: '';
    display: inline-block;
    width: 3px; height: 3px;
    background: #ccc;
    border-radius: 50%;
    margin-left: 7px;
    vertical-align: 3px;
}
.sc-news .group-issue .direct-area .link-direct{
    margin: 0 4px 0 7px;
}
.sc-news .group-title{
    padding: 22px 0 16px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
}
.sc-news .group-title .link-title{
    color: #000;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}
.sc-news .group-title .link-title:before{
    display: inline-block;
    width: 27px;
    height: 24px;
    background-position: -272px -342px;
    vertical-align: top;
    content: '';
    margin: -6px 1px 0 0;
}
.sc-news .group-title .link-title:after{
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -410px -213px;
    vertical-align: top;
    content: '';
    margin-left: 6px;
    vertical-align: -1px;
}
.sc-news .group-title .sort-area{
    margin-left: 10px;
}
.sc-news .group-title .sort-area .btn-sort{
    font-size: 14px;
    color: #505050;
    text-decoration: none;
}
.sc-news .sort-area .btn-sort[aria-selected=true]{
    color: #000;
    font-weight: 700;
}
.sc-news .sort-area .btn-sort+.btn-sort:before {
    background-color: #c7ccd1;
    display: inline-block;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 8px 0 4px;
    vertical-align: 3px;
}
.sc-news .group-title .set-area{
    margin-left: auto;
    display: flex;
}
.sc-news .group-title .set-area .btn-set{
    padding: 0 9px;
}
.sc-news .group-title .set-area .ic-list::after{
    content: '';
    display: inline-block;
    width: 14px;
    height: 13px;
    background-position: -244px -310px;
    vertical-align: top;
    opacity: .7;
}
.sc-news .group-title .set-area .ic-tile::after{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -276px -310px;
    vertical-align: top;
}
.sc-news .group-title .set-area .ic-set::after{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -102px -386px;
    vertical-align: top;
    opacity: .7;
    margin: -1px 0 1px;
}
.sc-news .group-media{
    position: relative;
    height: 260px;
    border: 1px solid #dae1e6;
}
.sc-news .group-media .media-list{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
}
.sc-news .group-media .media-item a{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.sc-news .group-media .media-item img{
    height: 20px;
}
.sc-news .vt-line{
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background: #dae1e6;
}
.sc-news .vt-line.vt1{left: calc(124px);}
.sc-news .vt-line.vt2{left: calc(124px*2);}
.sc-news .vt-line.vt3{left: calc(124px*3);}
.sc-news .vt-line.vt4{left: calc(124px*4);}
.sc-news .vt-line.vt5{left: calc(124px*5);}
.sc-news .hr-line{
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: #dae1e6;
}
.sc-news .hr-line.hr1{top: calc(65px);}
.sc-news .hr-line.hr2{top: calc(65px*2);}
.sc-news .hr-line.hr3{top: calc(65px*3);}

/* sc-themepost */
.sc-themepost{
    padding: 35px 0 27px;
}
/* .sc-themepost .group-title */
.sc-themepost .group-title{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: 17px;
}
.sc-themepost .title-area .title{
    font-size: 14px;
    color: #000;
    font-weight: 700;
}
.sc-themepost .title-area .desc{
    margin-left: 8px;
    color: grey;
}
.sc-themepost .info-area .info{
    color: grey;
}
.sc-themepost .info .new {
    color: #000;
}
.sc-themepost .info-area .btn-set{
    position: relative;
    margin-left: 14px;
    color: #505050;
}
.sc-themepost .btn-set::before{
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -358px -310px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin-right: 4px;
    vertical-align: -1px;
    opacity: 0.7;
}
.sc-themepost .btn-set::after{
    position: absolute;
    top: 2px;
    left: -8px;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #e4e8eb;
}

/* sc-themepost group-category */
.sc-themepost .group-category{
    position: relative;
}
.sc-themepost .group-category .pm-btn.prev{
    top: 6px;
    left: -23px;
    color: inherit;
}
.sc-themepost .group-category .pm-btn.next{
    top: 6px;
    right: -18px;
}
.sc-themepost .pm-btn.prev .ico-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -128px -342px;
    background-repeat: no-repeat;
    vertical-align: top;
}
.sc-themepost .pm-btn.next .ico-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -86px -342px;
    background-repeat: no-repeat;
    vertical-align: top;
}
.sc-themepost .group-category .category-list{
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
    position: relative;
}
.sc-themepost .category-list::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border: 1px solid #dae1e6;
}
.sc-themepost .group-category .category-item{
    position: relative;
    display: inline-block;
    z-index: 1;
    vertical-align: top;
    width: 94px; height: 49px;
}
.sc-themepost .category-item:nth-child(8n+1){
    width: 92px;
}
.sc-themepost .category-item a{
    display: block;
    border-right: 1px solid #dae1e6;
    font-size: 13px;
    line-height: 49px;
    font-weight: 700;
    text-align: center;
}
.sc-themepost .category-item a[aria-selected=true] {
    background-color: #ebaa00;
    color: #fff;
}

/* sc-themepost group-topstory */
.sc-themepost .group-topstory-wrap{
    overflow-anchor: none;
    padding-top: 4px;
}
.sc-themepost .group-topstory {
    padding: 18px 0;
    border-bottom: 1px solid #e4e8eb;
    display: flex;
    justify-content: space-between;
}
.sc-themepost .topstory-view{
    width: 364px;
}
.sc-themepost .topstory-view .topstory-thumb{
    overflow: hidden;
    display: block;
    position: relative;
    width: 364px;
    height: 180px;
}
.sc-themepost .topstory-thumb .thumb-bd{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .06;
    filter: alpha(opacity=6);
    border: 1px solid #000;
}
.sc-themepost .topstory-thumb .pm-ico-play{
    position: absolute;
    bottom: 9px;
    left: 12px;
    content: '';
}
.sc-themepost .topstory-view .topstory-info{
    display: block;
    padding: 16px 18px 0 0;
}
.sc-themepost .topstory-info .category{
    color: #ebaa00;
}
.sc-themepost .topstory-info .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-top: 6px;
    font-size: 13px;
}
.sc-themepost .topstory-info .desc{
    display: -webkit-box;
    overflow: hidden;
    max-height: 42px;
    line-height: 21px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    font-size: 13px;
    color: #404040;
}
.sc-themepost .topstory-info .source-area{
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin-top: 4px;
    vertical-align: top;
}
.sc-themepost .topstory-info .source{
    overflow: hidden;
    display: block;
    color: #505050;
}
.sc-themepost .topstory-info .source-inner{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

/* sc-themepost group-theme */
.sc-themepost .group-theme-02{
    border-top: 1px solid #e4e8eb;
}
.sc-themepost .list-theme-wrap{
    padding: 18px 0;
}
.sc-themepost .theme-list .theme-item{
    display: flex;
    overflow: hidden;
}
.sc-themepost .theme-list .theme-item+.theme-item {
    margin-top: 18px;
}
.sc-themepost .theme-list .theme-thumb {
    width: 170px;
    height: 114px;
    overflow: hidden;
    display: block;
    position: relative;
    margin-right: 21px;
    display: flex;
}
.sc-themepost .theme-list .theme-info{
    overflow: hidden;
    display: block;
    padding: 4px 47px 0 0;
    flex: 1;
}
.sc-themepost .theme-info .category{
    color: #ebaa00;
}
.sc-themepost .theme-info .title.elss {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: auto;
    margin-top: 2px;
}
.sc-themepost .theme-info .desc{
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 2px;
    font-size: 13px;
    color: #404040;
}
.sc-themepost .theme-info .source-box{
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    margin-top: 2px;
    line-height: 20px;
    vertical-align: top;
    display: flex;
}
.sc-themepost .source-box .date{
    color: grey;
    order: 2;
}
.sc-themepost .source-box .date:before {
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 5px 0 6px;
    vertical-align: 3px;
}
.sc-themepost .source-box .source{
        overflow: hidden;
        display: block;
        color: #505050;   
}
.sc-themepost .source-box .source-inner{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

/* sc-themepost group-theme media */
.sc-themepost .group-theme .media-view-wrap{
    padding: 18px 0 17px;
}
.sc-themepost .group-theme .media-view{
    display: flex;
    margin: 0 -27px -31px 0;
    border-top: 1px solid #e4e8eb;
}
.sc-themepost .media-view .media-area{
    margin: 0 27px 31px 0;
}
.sc-themepost .media-view .media-thumb{
    width: 232px;
    height: 130px;
    overflow: hidden;
    display: block;
    position: relative;
}
.sc-themepost .media-area .pm-ico-play{
    position: absolute;
    bottom: 8px;
    left: 12px;
    content: '';
}
.sc-themepost .media-view .media-info{
    display: block;
    padding-top: 12px;
}
.sc-themepost .media-info .info-box{
    overflow: hidden;
}
.sc-themepost .media-info .title{
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 13px;
}
.sc-themepost .media-view .media-area .source-wrap{
    display: inline-block;
    max-width: 100%;
    margin-top: 3px;
    vertical-align: top;
    display: flex;
}
.sc-themepost .media-info .date{
    color: grey;
    order: 2;
}
.sc-themepost .media-info .date:before{
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 5px;
    vertical-align: 3px;
}
.sc-themepost .media-info .source{
    overflow: hidden;
    color: #505050;
    display: flex;
}
.sc-themepost .media-info .source-thumb{
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.sc-themepost .media-info .source-thumb:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    border: 1px solid rgba(0,0,0,.06);
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
.sc-themepost .media-info .source-inner{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

/* sc-themepost group-click */
.sc-themepost .group-click{
    border-top: 1px solid #e4e8eb;
}
.sc-themepost .group-click .title-wrap{
    padding-top: 24px;
    line-height: 25px;
}
.sc-themepost .title-wrap .title{
    position: relative;
    font-weight: 700;
}
.sc-themepost .title-wrap .title {
    font-size: 14px;
    display: flex;
    color: #000;
    align-items: center;
}
.sc-themepost .title-wrap .title::after{
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -408px -146px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 6px;
    vertical-align: 0;
}
.sc-themepost .media-view-wrap{
    position: relative;
}
.sc-themepost .media-view-wrap .pm-btn.prev,
.sc-themepost .media-view-wrap .pm-btn.next
{top: 66px;}
.sc-themepost .pm-btn-prev .ico-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -128px -342px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
}
.pm-btn-next .ico-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -86px -342px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
}
.sc-themepost .media-view-wrap .media-view{
    padding: 18px 0 17px;
    height: 240px;
    display: flex;
}
.sc-themepost .media-view .media-area{
    display: inline-block;
    width: 232px;
    font-size: 12px;
    line-height: 20px;
    vertical-align: top;
}
.sc-themepost .media-area .media-thumb{
    width: 232px;
    height: 130px;
    overflow: hidden;
    display: block;
    position: relative;
}
.sc-themepost .media-area .media-info{
    display: block;
    padding-top: 12px;
}
.sc-themepost .media-info .info-box{
    overflow: hidden;
}
.sc-themepost .media-info .title {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 13px;
}
.sc-themepost .media-info .source-wrap {
    display: inline-block;
    max-width: 100%;
    margin-top: 3px;
    vertical-align: top;
}
.sc-themepost .media-info .source {
    overflow: hidden;
    color: #505050;
    display: flex;
}
.sc-themepost .media-info .source-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.sc-themepost .media-info .dsc {
    color: grey;
}
.sc-themepost .media-info .theme-hl {
    color: #ebaa00;
}
.sc-themepost .media-info .dsc:before {
    background-color: grey;
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 5px;
    vertical-align: 3px;
}

/* sc-themepost btn-more-wrap */
.sc-themepost .btn-more-wrap{
    position: relative;
    padding-top: 18px;
    margin-bottom: 42px;
    border-bottom: 1px solid #e4e8eb;
    background: #ff0;
}
.sc-themepost .btn-more-wrap .btn-more {
    position: absolute;
    top: 0;
    left: 334px;
    color: #505050;
    cursor: pointer;
}
.sc-themepost .btn-more .ico-more {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-position: 0 -342px;
    background-repeat: no-repeat;
    vertical-align: top;
    display: block;
    margin: 0 auto 3px;
}


/* 
    오른쪽 .column-right
*/
.column-right{
    width: 350px;
}

/* sc-login */
.sc-login{
    padding: 16px 16px 12px 17px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
}
.sc-login .login-msg{
    padding-left: 3px;
    color: grey;
}
.sc-login .link-login{
    display: block;
    padding: 15px 0;
    margin-top: 11px;
    background-color: #19ce60;
    border: 1px solid #15c654;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.sc-login .link-login::before{
    display: inline-block;
    width: 60px;
    height: 12px;
    background-position: -202px -296px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 2px 5px 0 0;
    content: '';
}
.sc-login .sub-area{
    display: flex;
    margin: 14px 8px 0 4px;
    color: #404040;
}
.sc-login .sub-area:before{
    display: inline-block;
    width: 10px;
    height: 14px;
    background-position: -408px -55px;
    vertical-align: top;
    content: '';
    margin: -1px 1px 1px;
}
.sc-login .sub-area .link-id{
    margin-left: 2px;
}
.sc-login .sub-area .link-find:before{
        background-color: #d7dce0;
        display: inline-block;
        width: 3px;
        height: 3px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        vertical-align: top;
        content: '';
        margin: 0 5px 0 2px;
        vertical-align: 3px;
}
.sc-login .sub-area .link-join{
    margin-left: auto;
}
.sc-login .sub-area .link-join:before {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -401px -245px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 2px 5px 0 0;
}

/* sc-sidenews */
.sc-sidenews{
    position: relative;
    height: 47px;
    margin: 12px 0;
    border: 1px solid #dae1e6;
    letter-spacing: -.25px;
    padding-right: 67px;
}
.sc-sidenews .link-news{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
}
.sc-sidenews .link-news .stock-box{
    height: 20px;
}
.sc-sidenews .link-news .badge{
    margin-top: 1px;
    font-size: 13px;
    font-weight: bold;
}
.sc-sidenews .link-news .badge::before{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -420px -118px;
    vertical-align: top;
    content: '';
    margin-right: 7px
}
.sc-sidenews .link-news .name{
    font-size: 12px;
    color: #404040;
    line-height: 17px;
}
.sc-sidenews .link-news .name::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 3px 7px 2px 6px;
    background-color: #e4e8eb;
    vertical-align: top;
}
.sc-sidenews .link-news .current{
    margin-left: 6px;
    font-size: 13px;
    line-height: 17px; 
}
.sc-sidenews .link-news .rate-down {
    color: #2586ee;
    margin-left: 10px;
    font-size: 12px;
}
.sc-sidenews .link-news .rate-down::before{
    display: inline-block;
    width: 9px;
    height: 6px;
    background-position: -433px -402px;
    vertical-align: top;
    vertical-align: 1px;
}
.sc-sidenews .nav-area{
    overflow: hidden;
    height: 47px;
    padding-right: 67px
}
.sc-sidenews .nav-wrap{
    position: absolute;
    top: 11px;
    right: 10px;
    overflow: hidden;
    display: flex;
}
.sc-sidenews .nav-wrap .btn-nav{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #e4e8eb;
}
.sc-sidenews .nav-wrap .btn-nav+.btn-nav{
    margin-left: -1px;
}

.sc-sidenews .nav-wrap .btn-nav.prev{
    margin-right: -1px;
}
.sc-sidenews .nav-wrap .btn-nav.prev:before {
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -162px -327px;
    vertical-align: top;
    content: '';
    margin: 7px 8px 6px;
}
.sc-sidenews .nav-wrap .btn-nav.next:before {
    display: inline-block;
    width: 6px;
    height: 9px;
    background-position: -146px -327px;
    vertical-align: top;
    content: '';
    margin: 7px 8px 6px;
}

/* sc-shopcast */
.sc-shopcast{
    width: 350px;
    margin-top: 15px; 
    overflow: hidden;
    height: 1826px;
    background-color: #fff;
    letter-spacing: -.25px;
}

/* sc-shopcast shop-header */
.sc-shopcast .shop-wrap .shop-header{
    padding: 12px 0 13px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
}
.sc-shopcast .shop-header .link-shop {
    margin: 2px 0 0 1px;
    font-size: 13px;
    line-height: 17px;
    color: #000;
    font-weight: 700;
}
.sc-shopcast .link-shop .ls-link:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -109px -22px;
    vertical-align: top;
    margin-right: 4px;
    vertical-align: -3px;
}
.sc-shopcast .link-shop .ls-link::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -109px -49px;
    vertical-align: top;
    margin-left: 7px;
    vertical-align: 0;
}
.sc-shopcast .shop-header .shop-tab {
    font-size: 13px;
    font-weight: 700;
    display: flex;
}
.sc-shopcast .shop-tab .tab-item+.tab-item {
    margin-left: 11px;
}
.sc-shopcast .shop-header .tab-item{
    display: flex;
}
.sc-shopcast .tab-item .tab{
    display: block;
    padding: 0 1px;
    border-bottom: 2px solid transparent;
    color: #202020;
}
.sc-shopcast .tab-item .tab[aria-selected=true]{
    border-color: #19ce60;
    color: #03c75a;
}

/* sc-shopcast shop-content */
.sc-shopcast .shop-content {
    overflow: hidden;
    border: 1px solid #e4e8eb;
    height: 1780px;
}

/* sc-shopcast shop-content group-mall */
.sc-shopcast .shop-content .group-mall{
    overflow: hidden;
    padding: 12px 4px 11px 10px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #dae1e6;
}
.sc-shopcast .group-mall .mall-area{
    display: flex;
    align-content: center;
}
.sc-shopcast .group-mall .mall-area:after {
    content: "";
    display: table;
    table-layout: fixed;
    clear: both;
}
.sc-shopcast .mall-area .link-mall{
    line-height: 23px;
    color: #404040;
}
.sc-shopcast .mall-area .ls13{
    background-color: #c9cccf;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    vertical-align: top;
    margin: 7px 13px 0;
}

/* sc-shopcast shop-content group-goods */
.sc-shopcast .shop-content .group-goods{
    position: relative;
    padding: 55px 8px 20px;
}
.sc-shopcast .group-goods .shop-control{
    top: 13px;
    right: 8px;
}
.sc-shopcast .shop-control .btn-prev:before {
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -116px -60px;
    vertical-align: top;
    content: '';
    margin: 9px 12px 9px 10px;
}
.sc-shopcast .shop-control .btn-next:before {
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -109px -60px;
    vertical-align: top;
    content: '';
    margin: 9px 10px 9px 12px;
}
.sc-shopcast .group-goods .goods-list-wrap{
    overflow: hidden;
}
.sc-shopcast .group-goods .goods-list{
    margin-top: -10px;
    overflow: hidden;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
}
.sc-shopcast .group-goods .goods-item{
    margin-top: 10px;
    width: 33.33%;
}
.sc-shopcast .goods-item .goods-area{
    display: block;
    margin-right: 5px;
}
.sc-shopcast .goods-area .thumb-box{
    overflow: hidden;
    position: relative;
}
.sc-shopcast .goods-area .title-box{
    margin-top: 5px;
}
.sc-shopcast .goods-area .title-box .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 16px;
    text-align: center;
}
.sc-shopcast .goods-area .title-box .title:first-child{
    font-weight: 700;
}
.sc-shopcast .group-goods .shop-page{
    margin-top: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc-shopcast .shop-page .btn{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #dae1e6;
    vertical-align: top;
}
.sc-shopcast .shop-page .btn-prev::before{
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -116px -60px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 9px 12px 9px 10px;
}
.sc-shopcast .shop-page .num-box{
    display: inline-block;
    min-width: 61px;
    line-height: 29px;
    color: grey;
    text-align: center;
    vertical-align: top;
}
.sc-shopcast .shop-page .btn-next::before{
    display: inline-block;
    width: 5px;
    height: 9px;
    background-position: -109px -60px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 9px 10px 9px 12px;
}

/* sc-shopcast shop-content group-evnet */
.sc-shopcast .shop-content .group-event{
    margin: 0 8px;
    padding: 19px 0 17px;
    border-top: 1px solid #e4e8eb;
}
.sc-shopcast .group-event .shop-title{
    position: relative;
    padding-left: 5px;
}
.sc-shopcast .group-evnet .shop-title .title{
    font-size: 13px;
    font-weight: 700;
}
.sc-shopcast .group-evnet .shop-control{
    top: -6px;
    display: flex;
}
.sc-shopcast .shop-control .num-box{
    line-height: 29px;
    color: grey;
}
.sc-shopcast .num-box .current{
    margin-right: 4px;
    color: #202020;
    font-weight: 700;
}
.sc-shopcast .group-event .event-list{
    margin: 13px 5px 0;
    line-height: 28px;
}
.sc-shopcast .group-event .event-item{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #202020;
}
.sc-shopcast .event-item .event-area{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #202020;
}
.sc-shopcast .event-item .event-area:before {
    background-color: #1ace61;
    display: inline-block;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin-right: 8px;
    vertical-align: 2px;
}
.sc-shopcast .event-item .title{
    margin-right: 13px;
    color: #000;
    font-weight: 700;
}

/* sc-shopcast shop-content group-plus */
.sc-shopcast .shop-content .group-plus{
    position: relative;
    padding: 55px 0 19px;
    margin: 0 8px;
    border-top: 1px solid #e4e8eb;
}
.sc-shopcast .group-plus .shop-category {
    position: absolute;
    top: 20px;
    left: 5px;
    font-size: 0;
    line-height: 0;
}
.sc-shopcast .group-plus .category{
    display: inline-block;
    vertical-align: 0;
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: -.5px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}
.sc-shopcast .group-plus .category+.category {
    margin-left: 12px;
}
.shop-category .category[aria-selected=true] {
    color: #03c75a;
    font-weight: 700;
    border-color: #19ce60;
}
.sc-shopcast .group-plus .shop-control{
    top: 14px;
}
.sc-shopcast .group-plus .goods-list-wrap{
    overflow: hidden;
}
.sc-shopcast .group-plus .goods-list{
    overflow: hidden;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
}
.sc-shopcast .group-plus .goods-item{
    width: 50%;
}
.sc-shopcast .goods-item .goods-area{
    display: block;
    margin-right: 5px;
}
.sc-shopcast .goods-area .thumb-box{
    overflow: hidden;
    position: relative;
}
.sc-shopcast .goods-area .title-box{
    margin-top: 9px;
}
.sc-shopcast .goods-area .title-box .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 16px;
    text-align: center;
}

/* sc-shopcast shop-content group-plusdeal */
.sc-shopcast .shop-content .group-plusdeal {
    padding-top: 16px;
    margin: 0 8px;
    border-top: 1px solid #e4e8eb;
}
.sc-shopcast .group-plusdeal .shop-title{
    position: relative;
}
.sc-shopcast .shop-title .title{
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
}
.sc-shopcast .title .link-logo{
    display: inline-block;
    vertical-align: top;
}
.sc-shopcast .title .link-logo:before{
    display: inline-block;
    width: 40px;
    height: 21px;
    background-position: 0 -54px;
    vertical-align: top;
    content: '';
    margin-right: 7px;
}
.sc-shopcast .group-plusdeal .shop-control{
    top: -3px;
}

.sc-shopcast .group-plusdeal .deal-list{
    margin-top: 20px;
}
.sc-shopcast .group-plusdeal .deal-item{
    display: block;
}
.sc-shopcast .group-plusdeal .deal-item+.deal-item {
    margin-top: 15px;
}
.sc-shopcast .group-plusdeal .deal-area{
    display: block;
    overflow: hidden;
    display: flex;
}
.sc-shopcast .deal-area .deal-thumb{
    margin-right: 10px;  
    display: flex; 
    flex: 1;
}
.sc-shopcast .deal-area .deal-thumb .thumb-box{
    position: relative;
    border-radius: 4px;
}
.sc-shopcast .deal-thumb .thumb-box+.thumb-box{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    background: #f00;
}
.sc-shopcast .deal-thumb .thumb-box:first-child{
    overflow: hidden;
    flex: 1;
}
.sc-shopcast .thumb-box .ico-one-plus{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 30px;
    height: 15px;
    background-position: -42px -54px;
    background-repeat: no-repeat;
    vertical-align: top;
}
.sc-shopcast .thumb-box+.thumb-box:before {
    position: absolute;
    top: 20px;
    left: -15px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -109px 0;
    vertical-align: top;
    content: '';
    z-index: 1;
}
.sc-shopcast .title-box{
    flex: 1;
    overflow: hidden;
}
.sc-shopcast .title-box .title {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    max-height: 34px;
    line-height: 17px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
}
.sc-shopcast .title-box .price-wrap {
    margin-top: 5px;
    font-weight: 700;
}
.sc-shopcast .title-box .price-wrap .discount {
    color: #f04045;
}







